---
---
@import "{{ site.theme }}";

body {
  background-color: #222;
  color: #eee;
}

a {
  color: #8cc2ff;
}

h1, h2, h3, h4, h5, h6, strong, thead {
  color: #eee;
}


/* Hide the default sidebar/header */
header {
  display: none;
  width: 0;
}

footer {
  display: none;
  width: 0;
}

/* adjust layout to be full width */
.wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

section {
  width: 100%;
  float: none;
  margin: 0;
  padding: 20px 0;
}

/* Ensure mobile friendliness */
@media print,
screen and (max-width: 960px) {
  .wrapper {
    width: 95%;
  }
}