.sidebar {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: var(--mantine-color-dark-8);
  width: 70px;
  transition: width 0.2s ease;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar[data-expanded] {
  width: 240px;
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0 var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-dark-0);
  text-decoration: none;
  transition: background-color 0.2s ease, padding 0.2s ease;
  overflow: hidden;
}

.sidebar:not([data-expanded]) .link {
  padding: 0;
  justify-content: center;
}

.link:hover {
  background-color: var(--mantine-color-dark-6);
}

.link[data-active]:hover {
  background-color: var(--mantine-color-dark-6);
}

.subLink {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-dark-1);
  text-decoration: none;
  transition: background-color 0.2s ease, padding 0.2s ease;
  overflow: hidden;
}

.sidebar:not([data-expanded]) .subLink {
  padding: 0;
  justify-content: center;
}

.subLink:hover {
  background-color: var(--mantine-color-dark-6);
}

.subLink[data-active] {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-color-blue-light-color);
  font-weight: 600;
}
